@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
body {
  background-color: #c5e4e7;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

#logo {
  display: block;
  margin: 3rem auto 3rem auto;
}

section {
  background-color: white;
  border-radius: 30px;
  padding: 1.5rem;
}

label {
  color: #5e7a7d;
  font-weight: 700;
  margin-bottom: 32px;
}

.label {
  color: #5e7a7d;
}

input[type="number"] {
  border-style: none;
  padding: 3px;
  width: 100%;
  height: 2rem;
  font: bold normal normal 26px 'Space Mono';
  color: #00494d;
  text-align: right;
}

input[type="number"]:focus {
  outline: none;
}

#billInp {
  background: url(../images/icon-dollar.svg) no-repeat scroll 7px;
}

#people {
  background: url(../images/icon-person.svg) no-repeat scroll 7px;
}

.error {
  color: red;
  display: none;
}

/* Tips */
.tip {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  width: 100%;
  margin-bottom: 1rem;
}

.tip-list {
  background-color: #00494d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 0.5rem;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.tip-list:hover {
  color: #00494d;
  background-color: #26c0ab;
}

.custom-tip-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: #5e7a7d;
}

#custom-tip {
  font: bold normal normal 24px 'Space Mono';
  color: #5e7a7d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: none;
  text-align: center;
}

/* Summary*/
.right-side {
  background-color: #00494d;
  margin-top: 2.5rem;
  border-radius: 15px;
  padding: 1rem;
}

right-side-label {
  color: white;
}

table {
  width: 100%;
  height: 1fr;
}

th {
  text-align: left;
  color: white;
}

td {
  font-size: 24px;
  font-weight: 700;
  color: #26c0ab;
  text-align: right;
}

span {
  color: #5e7a7d;
}

#btn {
  margin-top: 15%;
}

.reset-btn {
  margin-top: 1rem;
  background-color: #26c0ab;
  border-style: none;
  border-radius: 5px;
  width: 100%;
  height: 3rem;
  color: #00494d;
  font-weight: 600;
  font-size: 1.5rem;
}

.reset-btn:focus {
  background-color: #5e7a7d;
}

@media screen and (min-width: 800px) {
  section {
    background-color: white;
    border-radius: 30px;
    height: 55vh;
    width: 80vw;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 3.5rem;
            column-gap: 3.5rem;
    overflow: hidden;
  }
  .left-side {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
  }
  .label {
    margin-top: 0;
  }
  .tip {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .right-side {
    margin: 0;
    border-radius: 15px;
    padding: 1rem;
  }
  td {
    font-size: 48px;
  }
  #btn {
    margin-top: 15%;
  }
}
/*# sourceMappingURL=style.css.map */